%h3 Latest Articles from RSS feeds
- @articles.each do |article|
  = link_to article.title, article.link, target: '_blank'
  %c= "#{article.pubDate.strftime('%d/%m/%Y')} (#{article.guid.content[7,20]})"
  %br
